body {
    background-color: lightpink;
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    padding-left: 2ex;
    padding-right: 2ex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(247, 203, 210);
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 2ex;
}

nav li {
    float: left;
}

nav li h1, nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 3ex;
    text-decoration: none;
}

nav li a:hover {
    background-color: black;
    color: white;
}

nav li h1 {
    padding-top: 0;
    padding-bottom: 0;
}

section {
    background-color:rgb(247, 203, 210);
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 2ex;
    padding: 2ex;
    text-align: center;
}

section embed {
    width: 85%;
    height: 70vh;
    border-radius: 2ex;
    background-color: white;
}

h1 {
    font-style: oblique;
}

h2 {
    font-weight: bold;
}

p {
    font-weight: lighter;
}

footer {
    text-align: center;
}